@import '../../styles/global.scss';

.hero {
    text-align: center;
    background-color: $color-surface;
    padding: 0;
}

.generatedProblem {
    margin: 2rem 0;
    background-color: #1e1e1e;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 1rem;
    line-height: 1.6;
  }
  